SalesUpload/Service References/ServiceReferenceRetailer365/wcfRetailer3654.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://retailer365.sands.com.mo/RetailerService/wcfRetailer365.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://retailer365.sands.com.mo/RetailerService/wcfRetailer365.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/iRealz.Tenant365.Service" />
  <xs:import schemaLocation="https://retailer365.sands.com.mo/RetailerService/wcfRetailer365.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/iRealz.Message" />
  <xs:element name="SchedulerCSVSalesSubmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="csvContent" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="Login_UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Activation_Key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FunctionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SchedulerCSVSalesSubmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iRealz.Tenant365.Service" minOccurs="0" name="SchedulerCSVSalesSubmissionResult" nillable="true" type="q2:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SchedulerTestSalesSubmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="csvContent" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="Login_UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Activation_Key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FunctionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModuleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SchedulerTestSalesSubmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iRealz.Tenant365.Service" minOccurs="0" name="SchedulerTestSalesSubmissionResult" nillable="true" type="q4:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestSalesSubmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Sales_Data" nillable="true" type="q5:ArrayOfstring" />
        <xs:element minOccurs="0" name="Login_UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Activation_Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestSalesSubmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/iRealz.Tenant365.Service" minOccurs="0" name="TestSalesSubmissionResult" nillable="true" type="q6:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalesSubmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Sales_Data" nillable="true" type="q7:ArrayOfstring" />
        <xs:element minOccurs="0" name="Login_UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Activation_Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalesSubmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/iRealz.Tenant365.Service" minOccurs="0" name="SalesSubmissionResult" nillable="true" type="q8:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateActivationKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login_userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activationKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateActivationKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/iRealz.Message" minOccurs="0" name="AuthenticateActivationKeyResult" nillable="true" type="q9:ReturnMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>