SalesUpload/Service References/ServiceReferenceRetailer365/wcfRetailer365.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcfRetailer365" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IwcfRetailer365_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://retailer365.sands.com.mo/RetailerService/wcfRetailer365.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://retailer365.sands.com.mo/RetailerService/wcfRetailer365.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://retailer365.sands.com.mo/RetailerService/wcfRetailer365.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://retailer365.sands.com.mo/RetailerService/wcfRetailer365.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/iRealz.Tenant365.Service" />
      <xsd:import schemaLocation="https://retailer365.sands.com.mo/RetailerService/wcfRetailer365.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/iRealz.Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwcfRetailer365_SchedulerCSVSalesSubmission_InputMessage">
    <wsdl:part name="parameters" element="tns:SchedulerCSVSalesSubmission" />
  </wsdl:message>
  <wsdl:message name="IwcfRetailer365_SchedulerCSVSalesSubmission_OutputMessage">
    <wsdl:part name="parameters" element="tns:SchedulerCSVSalesSubmissionResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfRetailer365_SchedulerTestSalesSubmission_InputMessage">
    <wsdl:part name="parameters" element="tns:SchedulerTestSalesSubmission" />
  </wsdl:message>
  <wsdl:message name="IwcfRetailer365_SchedulerTestSalesSubmission_OutputMessage">
    <wsdl:part name="parameters" element="tns:SchedulerTestSalesSubmissionResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfRetailer365_TestSalesSubmission_InputMessage">
    <wsdl:part name="parameters" element="tns:TestSalesSubmission" />
  </wsdl:message>
  <wsdl:message name="IwcfRetailer365_TestSalesSubmission_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestSalesSubmissionResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfRetailer365_SalesSubmission_InputMessage">
    <wsdl:part name="parameters" element="tns:SalesSubmission" />
  </wsdl:message>
  <wsdl:message name="IwcfRetailer365_SalesSubmission_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalesSubmissionResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfRetailer365_AuthenticateActivationKey_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateActivationKey" />
  </wsdl:message>
  <wsdl:message name="IwcfRetailer365_AuthenticateActivationKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateActivationKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="IwcfRetailer365">
    <wsdl:operation name="SchedulerCSVSalesSubmission">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfRetailer365/SchedulerCSVSalesSubmission" message="tns:IwcfRetailer365_SchedulerCSVSalesSubmission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfRetailer365/SchedulerCSVSalesSubmissionResponse" message="tns:IwcfRetailer365_SchedulerCSVSalesSubmission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SchedulerTestSalesSubmission">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfRetailer365/SchedulerTestSalesSubmission" message="tns:IwcfRetailer365_SchedulerTestSalesSubmission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfRetailer365/SchedulerTestSalesSubmissionResponse" message="tns:IwcfRetailer365_SchedulerTestSalesSubmission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestSalesSubmission">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfRetailer365/TestSalesSubmission" message="tns:IwcfRetailer365_TestSalesSubmission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfRetailer365/TestSalesSubmissionResponse" message="tns:IwcfRetailer365_TestSalesSubmission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalesSubmission">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfRetailer365/SalesSubmission" message="tns:IwcfRetailer365_SalesSubmission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfRetailer365/SalesSubmissionResponse" message="tns:IwcfRetailer365_SalesSubmission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateActivationKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfRetailer365/AuthenticateActivationKey" message="tns:IwcfRetailer365_AuthenticateActivationKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfRetailer365/AuthenticateActivationKeyResponse" message="tns:IwcfRetailer365_AuthenticateActivationKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IwcfRetailer365" type="tns:IwcfRetailer365">
    <wsp:PolicyReference URI="#BasicHttpBinding_IwcfRetailer365_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SchedulerCSVSalesSubmission">
      <soap:operation soapAction="http://tempuri.org/IwcfRetailer365/SchedulerCSVSalesSubmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchedulerTestSalesSubmission">
      <soap:operation soapAction="http://tempuri.org/IwcfRetailer365/SchedulerTestSalesSubmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSalesSubmission">
      <soap:operation soapAction="http://tempuri.org/IwcfRetailer365/TestSalesSubmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesSubmission">
      <soap:operation soapAction="http://tempuri.org/IwcfRetailer365/SalesSubmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateActivationKey">
      <soap:operation soapAction="http://tempuri.org/IwcfRetailer365/AuthenticateActivationKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcfRetailer365">
    <wsdl:port name="BasicHttpBinding_IwcfRetailer365" binding="tns:BasicHttpBinding_IwcfRetailer365">
      <soap:address location="https://retailer365.sands.com.mo/RetailerService/wcfRetailer365.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>