SalesUpload/Service References/ServiceReferenceRetailer365/wcfRetailer365.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iRealz.Message" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iRealz.Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReturnMessageOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/iRealz.Message" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_ErrorList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfErrorItem" />
      <xs:element name="_x003C_ExceptionError_x003E_k__BackingField" nillable="true" type="tns:CustomExceptionError" />
      <xs:element name="_x003C_HasExpection_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsSuccess_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Value_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnMessageOfboolean" nillable="true" type="tns:ReturnMessageOfboolean" />
  <xs:complexType name="ArrayOfErrorItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorItem" nillable="true" type="tns:ErrorItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorItem" nillable="true" type="tns:ArrayOfErrorItem" />
  <xs:complexType name="ErrorItem">
    <xs:sequence>
      <xs:element name="_x003C_ErrorReason_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ErrorRecord_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorItem" nillable="true" type="tns:ErrorItem" />
  <xs:complexType name="CustomExceptionError">
    <xs:sequence>
      <xs:element name="_x003C_LogID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StackTrace_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomExceptionError" nillable="true" type="tns:CustomExceptionError" />
</xs:schema>